*{box-sizing: border-box;
}
/*The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
/* this is setting the margins and padding*/
ul {
margin: 0;
padding: 0;}
/* padding paramenters modify the location of the tasks on the bottom part of the screen*/
ul li {
    cursor: crosshair;
    position: relative;
    padding: 50px 20px 50px 40px;
    background: #eeeeeee9;
    font-size: 20px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* updates every other line in the border w/ text to a different color for the background */
ul li:nth-child(odd) {
    background: whitesmoke;
  }
/* shows the color property when the mouse is over the block */
  ul li:hover {background: orange;
}
/* changes properties of the line through on the text and the background of the block*/
ul li.checked {
    background: orange;
    color: black;
    text-decoration: line-through;
}
/* changes proporties of the check mark*/
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* the "X" button style/ position can be changed through here. Move the position/appearance of the X. */
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
close:hover {
    background-color: #F44336;
    color: white;
}
/* changes the color and size of the header on your page */
.header {
    background-color: darkblue;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
/* clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
/* changes the properties of the input box where you will add to your list*/
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
/* changes the proporties of the add button*/
.addBtn {
    padding: 10px;
    width: 25%;
    background: #D9D9D9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
/* changes color property color when hovered over*/
.addBtn:hover {
    background-color: #bbb;
}